@{
    ViewBag.Title = "Home Page";
}

<!DOCType html>
<html lang="en">
<head>

</head>
<body id="pongScreen">
    <div class="score">
        <div id="player-score">0</div>
        <div id="computer-score">0</div>
    </div>
    <div class="ball" id="ball">
    </div>
    <div class="paddle left" id="player-paddle"></div>
    <div class="paddle right" id="computer-paddle"></div>
</body>
</html>